@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

:root {
    /* base font family */
    --ff-base: "Roboto", sans-serif;

    /* base font size */
    --fs-base: 14px;

    /* base padding */
    --padding-base: 16px;
    --padding-btn: 8px;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
}

#content {
    margin: 40px auto;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

#info-container {
    background-color: beige;
    width: 500px;
    padding: var(--padding-base);

    display: flex;
    justify-content: center;
}

#info {
    font-size: var(--fs-base);
    font-family: var(--ff-base);
}

#gameboard-container {
    display: flex;
    gap: 20px;
}

.gameboard {
    width: 240px;
    height: 240px;

    display: flex;
    flex-wrap: wrap;
}

.cell {
    width: 24px;
    height: 24px;
    border: solid 1px black;
}

.active {
    background-color: blue;
}

.miss::before {
    content: "\2022";
}

.hit {
    background-color: red;
}

#button-container {
    display: flex;
    gap: 10px;
}

#start-btn {
    font-size: var(--fs-base);
    font-family: var(--ff-base);
    padding: var(--padding-btn);
}

#winner-container {
    position: fixed;
    z-index: 1;
    top: 20px;
    left: 550px;

    width: 250px;
    margin: 40px auto;
    padding: var(--padding-base);
    border-radius: 5px;
    background-color: lightgray;

    display: flex;
    flex-direction: column;
    gap: 20px;
}

#winner-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
}

.close {
    font-size: var(--fs-base);
    color: black;
    float: right;
}

.close:hover,
.close:focus {
    color: red;
    cursor: pointer;
}

#restart-btn {
    font-size: var(--fs-base);
    font-family: var(--ff-base);
    padding: var(--padding-btn);
}